<div class="phone-images">
  <img ng-src="{{img}}" class="phone"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.experience.images" />
</div>

<h1>{{$ctrl.experience.name}}</h1>



<ul class="phone-thumbs">
  <li ng-repeat="img in $ctrl.experience.images">
    <div class="pjframe">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
  </div>
  </li>
</ul>

<div>
<p>{{$ctrl.experience.description}}</p>
</div>
<ul class="specs">
<!--     <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{$ctrl.experience.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{$ctrl.experience.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{$ctrl.experience.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{$ctrl.experience.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{$ctrl.experience.connectivity.gps | checkmark}}</dd>
    </dl>
  </li> -->
  <li>
    <span>Links</span>
    <dl>
      <dt></dt>
      <dd ng-repeat="availability in $ctrl.experience.availability"><a href={{availability}}>{{availability}}</a></dd>
    </dl>
  </li>

  
  
    
</ul>
