body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}


/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.pjframe{
height:100px;
width:100px;
vertical-align: bottom;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.0em 1em 1.5em 0;
  padding-bottom: 1em;
  display: block;
  width: 100px;
  position: relative;
}

.thumb-helper {
    display: block;
    height: 10%;
    vertical-align: middle;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: auto;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: auto;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 0px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}


.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/* World Map Styles */

#canvas {
}

#canvas-svg {
}


.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

#visualization {
  overflow: auto;
}

h1 {
  font-size: 62px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1em;
  margin: 1em 0;
}

textarea {
  width: 98%;
  height: 200px;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
